<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-3">
  	<br>
    Title: 	<input type="text" ng-model="event.metadata.title"><br>
    Who?: 	<input type="text" ng-model="event.metadata.names"><br>
    Where?: <input type="text" ng-model="event.metadata.location"><br>
    When?: 	<input type="text" ng-model="event.metadata.time"><br>
    What?: 	<input type="text" ng-model="event.metadata.description"><br>

    <button class="btn btn=primary" ng-click="modify()">Submit</button>
  </div>
</div>