<div class="container-fluid fill">
  <div class="absolute-center">
    <form class="form-horizontal col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" role="form">

      <div class="form-group">
        <h1 class="text-center"> <font color=#33CCFF size=200pt>chronicle</font></h1>
      </div>

      <div class="form-group">
        <input id="text" class="form-control control-group" ng-model="username" placeholder="username">
      </div>

      <div class="form-group">
        <input id="text" class="form-control control-group" type="password" ng-model="password" placeholder="password">
      </div>

      <div class="form-group">
        <button class="btn btn-primary form-control" ng-click="login()">login</button>
      </div>

      <div class="form-group">
        <div class="control-group text-center">
         <a ui-sref="app.signup">don't have an account? sign up!</a>
        </div>
      </div>

    </form>
  </div>
</div>
