<div class="container-fluid fill">
    <div class="text-center">
      <h1 class="control-label col-sm-offset-2 col-sm-10"> <font color=#33CCFF size=200pt>chronicle</font> </h1>
    </div><br>
    <form class="form-horizontal" role="form">
      <div>
        <div class="control-group">
          <label class="control-label col-sm-2" placeholder="UserID">Username: </label>
          <div class="col-sm-10 left-inner-addon" >
            <i class="fa fa-user"></i>
            <input id="text" class="form-control" style="text-align: center" 
            ng-model="username" placeholder="username" onfocus="this.placeholder = ''">
          </div>
          <label class="control-label col-sm-2" placeholder="password">Password: </label>
          <div class="col-sm-10 left-inner-addon">
            <i class="fa fa-tags"></i>
            <input class="form-control" style="text-align: center" type="password" ng-model="password" placeholder="password" onfocus="this.placeholder = ''">
          <div>
        </div><br>
        <div class="control-group">
          <div class="col-sm-12">
            <button class="btn btn-primary form-control" ng-click="login()">login</button>
          </div>
        </div>
        <div class="control-group">
          <a ui-sref="app.signup">Don't have an account yet? Sign up here</a>
        </div>
        <br>
      </div>
    </form>
</div>

<!--    <div class="control-group">
        <label class="control-label col-sm-2" placeholder="UserID">UserID:</label>
        <div class="col-sm-10 left-inner-addon" >
            <i class="fa fa-tags"></i>
            <input id="text" class="form-control" ng-model="username" placeholder="Sign Up!">
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary form-control" ng-click = "login()">Submit</button>
        </div>
    </div> -->