<div class="container-fluid fill">
    <div class="text-center">
      <h1 class="control-label"> <font color=#33CCFF size=200pt>chronicle</font> </h1>
    </div><br>
    <form class="form-horizontal" role="form">
      <div>
        <div class="control-group">
          <div class="col-sm-12" >
            <input id="text" class="form-control" style="text-align: center" 
            ng-model="username" placeholder="username" onfocus="this.placeholder = ''">
          </div>
        </div><br>
        <div class="control-group">
          <div class="col-sm-12">
            <button class="btn btn-primary form-control" ng-click="login()">login</button>
          </div>
        </div>
        <br>
      </div>
    </form>
</div>