.event {
  position: relative;
  
  .background-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.25;
    z-index: -1;
  }
  
  .content {
    z-index: 1;
  }
}