.event {
  position: relative;
  
  .background {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .metadata {
    position: relative;
    top: 15%;
    left:0;
    right:0;
    text-align: center;
    background-color: white;
    margin-bottom: 15px;
  }
}

.event-list {
  z-index: 0;
  .list-unstyled;
}

.event-img {
  margin-left: 20px;
  background-color: hsl(10,100, 50);
}


[event-scroller] {
  height: 100%;
  overflow: auto;
}

.custom_nav .navbar.navbar-fixed-top .navbar-inner{
    background: rgba(255, 255, 255, 0.3);
}
