<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#33CCFF" role="navigation">
  <div class="container-fluid">
    <div class="navbar-text" style="color:#FFFFFF;" >
      <ul class="breadcrumb">
        <li style="font-weight:200; font-size:10pt; width:100px; text-overflow:ellipsis"> <a ui-sref="app.chronicle.events">{{chronicle.title}} </a></li>
      </ul>
    </div>
   <ul class="nav navbar-nav navbar-right" style="margin-right: -15px">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" style="padding: 15px 15px">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="dropdown-menu" >
          <li ng-show="editaccess"><a ui-sref=".edit"><i class="fa fa-cog"></i>&nbsp;&nbsp;Edit this Chronicle</a></li>
          <li ng-show="editaccess"><a ng-click="delete()"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;Delete this Chronicle</a></li>
          <li><a ui-sref="app.users">&nbsp;&nbsp;Users</li>
          <li><a ui-sref="app.user.follow({userId: user._id})"><i class="fa fa-flag"></i>&nbsp;&nbsp;suscriptions</a></li>
          <li ng-show="$state.is('app.chronicle.event') && editaccess"><a ng-click="deleteEvent()" ><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;Delete this Event</a></li>
          <li><a ng-click="logout()">Log Out</a></li>
        </ul>
      </li>
    </ul>
    <a ui-sref="app.user.profile({userId: user._id, profileuser: user._id})" class="navbar-brand navbar-right" style="color:#FFFFFF; margin-left: 0px; ">
      <i class="fa fa-user"></i>
    </a>
    <a ui-sref="app.chronicles" class="navbar-brand navbar-right" style="color:#FFFFFF; margin-left: 0px;">
      <i class="fa fa-home fa-fw"></i>
    </a>
    <a ui-sref="app.updates" class="navbar-brand navbar-right" style="color:#FFFFFF; margin-left: 0px;">
      <i class="fa fa-exclamation"></i>
    </a>
    <!-- Actions -->
   
    
  </div>
</nav>