.event {
  position: relative;
  
  .background-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.25;
    z-index: -1;
  }
  
  .content {
    z-index: 1;
  }
  
  .content-item {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 3px;
    max-width: 75%;
    display: inline-block;
  }
  .pull-right {
    clear: both;
  }
  
  .event-title {
    font-size: @font-size-large;
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
    margin-bottom: 10px;
  }

}

.event-list {
  z-index: 0;
  .list-unstyled;
}
.event-img {
  margin-left: 20px;
  background-color: hsl(10,100, 50);
}

.event-info {
  width: 30%; 
  float: left;
}

.event-left {
  float: left;
}

.event-fill {
  width: 70%;
  height: 20%;
  overflow: hidden;
}

[event-scroller] {
  height: 100%;
  overflow: auto;
}

