<div class="container-fluid">
<div class="text-center">
    <h1 class="control-label col-sm-10 col-sm-offset-2"> <font color=#0099FF> Create a new chronicle </font> </h1>
</div>
<form class="form-horizontal" role="form">
  	<br>
  		<label class="control-label col-sm-2" placeholder="Title">Title:</label>
  		<div class="col-sm-10">
    		<input type="text" class="form-control" ng-model="title"><br>
        Public: <input type="checkbox" ng-model="public"> 
    	</div>
    	<div class="control-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary form-control" ng-click="create()">Submit </button>
          
        </div>
    	</div>
</form>
</div>