<script type="text/ng-template" id="search-users.html">
<a>{{(match.model).name}}</a>
</script>

<div class="container-fluid fill">
  <div class="absolute-center">
    <form class="form-horizontal col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" role="form">

      <div class="form-group">
        <h1 class="text-center"> <font color=#33CCFF size=200pt>create a new chronicle</font></h1>
      </div>

      <div class="form-group">
        <input id="text" class="form-control control-group" ng-model="chronicle.title" placeholder="title">
      </div>

      <div ng-show="!first">
        <div class="form-group">
          <input id="text" class="form-control" typeahead="user as user.name for user in searchUsers($viewValue) | limitTo: 8" placeholder="add viewer" ng-model="read" typeahead-template-url="search-users.html">
          <button class="btn btn-primary" ng-show="read" ng-click="adduser()">add</button>
        </div>
        <div class="form-group">
          <input id="text" class="form-control" typeahead="user as user.name for user in searchUsers($viewValue) | limitTo: 8" placeholder="add editor" ng-model="edit">
          <button class="btn btn-primary" ng-show="edit" ng-click="adduser()">add</button>
        </div>
      </div>

      <div class="form-group">
        <input type="file" class="form-control" filereader="chronicle.photo" placeholder>
      </div>

      <div class="form-group">
        would you like this to be public?
        <input type="checkbox" ng-model="public" style="margin-left: 20px;">
      </div>

      <div class="form-group">
        <button class="btn btn-primary form-control control-group" ng-disabled="button" ng-click="button=true; create()">submit</button>
      </div>

      <div class="spinner" ng-show="button">please wait...</div>
      
    </form>
  </div>
</div>
