//

html, body, [ui-view=main] {
  height: 100%;
}

[ui-view=main]{
  overflow: hidden;
}

body {
  padding-top: 50px;
}

.navbar .breadcrumb {
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
}