//

@media screen and (max-width: 1020px) {
  #container, #header, #content, #footer {
    float: none;
    width: auto;
  }
  p{ font-size: 2em; }
 }

html, body, [ui-view=main] {
  height: 100%;
}

[ui-view=main]{
  overflow: auto;
}

body {
  padding-top: 5%;
}

.navbar .breadcrumb {
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.img-circular {
  width: 150px;
  height: 150px;
  border-radius: 45%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 1px solid black;
  font-weight: 100;
  font-size: 15pt;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.content {
  vertical-align: center;
  text-align: center;
  font-size: 10pt;
  font-weight: 200;
}