<div style="top: 50px; left:0; width:100%; z-index: 100; text-align: center;">
  <button type="button" class="btn btn-primary" ng-class="{active: istab(1)}" ng-click="settab(1)" >Password</button>
  <button type="button" class="btn btn-primary" ng-class="{active: istab(2)}" ng-click="settab(2)" >Account Settings </button>
  <button type="button" class="btn btn-primary" ng-class="{active: istab(3)}" ng-click="settab(3)" >Profile Settings</button>
</div>
<div class="container-fluid">
<div class="text-center">
    <h1 class="control-label"> <font color=#0099FF> Edit your information </font> </h1>
</div>
<br>
<form class="form-horizontal" role="form" ng-show="istab(1)">
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="Password">Change your Password:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-key"></i>
            <input id="text" class="form-control" type="password" ng-model="password" placeholder="Keep your Account Safe!" required>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="confirmpassword">Confirm new Password:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-key"></i>
            <input id="text" class="form-control" type="password" ng-model="confirmpassword" placeholder="Confirm Your Password" required>
        </div>
    </div>
    <div ng-hide="password == confirmpassword"  class="control-group" style="color:red">
        <label class="control-label col-xs-2" > Error!</label>
        <div class="col-xs-10" > Passwords do not Match! </div>
        <i class="fa fa-key"></i>
    </div>
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="confirmpassword">Old password:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-key"></i>
            <input id="text" class="form-control" type="password" ng-model="oldpassword" placeholder="Enter your old password" required>
        </div>
    </div>
     <div ng-show="wrongpass"  class="control-group" style="color:red">
        <label class="control-label col-xs-2" > Error!</label>
        <div class="col-xs-10" > Incorrect password! </div>
        <i class="fa fa-key"></i>
    </div>
    <div>
        <div class="control-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-primary form-control" ng-click="editpass()" ng-disabled="confirmpassword != password">Submit</button>
            </div>
        </div>
    </div>
</form>



<form class="form-horizontal" role="form" ng-show="istab(2)">
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="Name">Name:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-user"></i>
            <input id="text" class="form-control" ng-model="user.name" placeholder="Name to be displayed to other users" required>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="Username">Username:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-tags"></i>
            <input id="text" class="form-control" ng-model="user.username" placeholder="Desired username!" required>
        </div>
    </div>
    <div ng-show="unerror"  class="control-group" style="color:red">
        <label class="control-label col-xs-2" > Error!</label>
        <div class="col-xs-10" > Username is already taken! </div>
        <i class="fa fa-key"></i>
    </div>
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="email">Email:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-envelope-o"></i>
            <input id="text" class="form-control" ng-model="user.email" placeholder="Provide your email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="Password">Password*:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-key"></i>
            <input id="text" class="form-control" type="password" ng-model="password" placeholder="To prevent trolls hue" required>
        </div>
    </div>
    <div ng-show="passwrong"  class="control-group" style="color:red">
        <label class="control-label col-xs-2" > Error!</label>
        <div class="col-xs-10" > Password is not correct! </div>
        <i class="fa fa-key"></i>
    </div>
    <br>
    <div class="control-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button class="btn btn-primary form-control" ng-click="edituser()">Submit</button>
        </div>
    </div>
    <div class="control-group">
        <div class = "col-xs-offset-2 col-xs-10">
            <div style="color:red">*indicates required field</div>
        </div>
    </div>
    <br>
</form>
<form class="form-horizontal" role="form" ng-show="istab(3)">
    <div class="control-group">
        <label class="control-label col-xs-2" placeholder="Description">Description:</label>
        <div class="col-xs-10 left-inner-addon" >
            <i class="fa fa-key"></i>
            <input id="text" class="form-control" ng-model="user.info.description" placeholder="Write Something About Yourself!">
        </div>
    </div>
    <label class="control-label col-xs-2" placeholder="ProPic">Profile Picture: </label>
    <div class="col-xs-10">
        <div class="left-inner-addon">
            <i class="fa fa-cloud-upload"></i>
            <input type="file" class="form-control" filereader="user.info.photo">
            <button class="btn btn-primary form-control" ng-click="editprofile()">Submit</button>
                    <div class="spinner" ng-show="loading"> Please Wait...</div>
    </div>
</form>
</div>