    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ng-show="editaccess">Edit or Delete?</h4>
            <h4 class="modal-title" ng-hide="editaccess">You do not have edit access</h4>
        </div>
        <div class="modal-body">
            <div>
              <button type="button" class="btn btn-primary" ng-click="edit()" ng-show="editaccess">Edit</button>
              <button type="button" class="btn btn-primary" ng-click="delete()" ng-show="editaccess">Delete</button>
            </div>
        </div>
    </div>
