    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit or Delete?</h4>
        </div>
        <div class="modal-body">
            <div>
              <button type="button" class="btn btn-primary" ng-click="edit()">Edit</button>
              <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
            </div>
        </div>
    </div>
