<div class="content-main"> My Chronicles </div>
<div class="container-fluid">
  <div class="btn-group" style="margin-top:10%">
    <button type="button" class="btn btn-default" ng-click="settab(1)">Mine</button>
    <button type="button" class="btn btn-default" ng-click="settab(2)">Shared with me </button>
    <button type="button" class="btn btn-default" ui-sref="^.public">Public</button>
  </div>
<div class="row-fluid">
  <div class="col-xs-6">
    <a ui-sref="^.newchronicle" style="text-decoration:none">
      <div class="img-circular">
        <div class="content-add">New<br>Chronicle</div>
      </div>
    </a>
  </div>
</div>
  <ul ng-show="owned.length && istab(1)" class="event-list">
    <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in owned" hm-hold="settings(chronicle)">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular"></div><br>
        </a>
        <div class="content">{{chronicle.title}}<br>
<!--           {{chronicle.user.name}}</div> -->
      </div>
    </div>
  </ul>
    <ul ng-show="editaccess.length && istab(2)" class="event-list">
      <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in editaccess">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular" hm-hold="settings(chronicle)"></div>
          <br>
        </a>
        <div class="content">{{chronicle.title}}<br> <small>{{chronicle.user.name}}</small></div> 
      </div>
    </div>
  </ul>
  <ul ng-show="readaccess.length && istab(2)" class="event-list">
      <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in readaccess">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular" hm-hold="settings(chronicle)"></div>
          <br>
        </a>
        <div class="content">{{chronicle.title}}<br>
          Owned by: {{chronicle.user.name}}</div>
      </div>
    </div>
  </ul>
</div> 
