<div class="container-fluid">
<div class="col-lg-6 col-lg-offset-3">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="settab(1)">Owned</button>
    <button type="button" class="btn btn-default" ng-click="settab(2)">Edit</button>
    <button type="button" class="btn btn-default" ng-click="settab(3)">Read</button>
    <button class="btn btn-sm btn-primary" ui-sref="^.public">public</button>
  </div>
  <ul ng-show="owned.length && istab(1)" class="event-list">
    <div class="row-fluid">
      <div class="col-xs-6 chronicle-thumbnail">
        <a ui-sref="^.newchronicle" style="text-decoration:none">
          <div class="img-circular">
            <div class="content-add">ADD<br>NEW</div>
          </div>
        </a>
      </div>
      <div class="col-xs-6" ng-repeat="chronicle in owned" hm-hold="edit(chronicle)">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular"></div><br>
        </a>
        <div class="content">{{chronicle.title}}<br>
          {{chronicle.user.name}}</div>
      </div>
    </div>
  </ul>
    <ul ng-show="editaccess.length && istab(2)" class="event-list">
      <div class="row-fluid">
        <div class="col-xs-6 chronicle-thumbnail">
          <a ui-sref="^.newchronicle" style="text-decoration:none">
            <div class="img-circular">
              <div class="content-add">ADD<br>NEW</div>
            </div>
          </a>
        </div>
      <div class="col-xs-6" ng-repeat="chronicle in editaccess">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular" hm-hold="edit(chronicle)"></div>
          <br>
        </a>
        <div class="content">{{chronicle.title}}<br>
          {{chronicle.user.name}}</div>
      </div>
    </div>
  </ul>
  <ul ng-show="readaccess.length && istab(3)" class="event-list">
      <div class="row-fluid">
        <div class="col-xs-6 chronicle-thumbnail">
          <a ui-sref="^.newchronicle" style="text-decoration:none">
            <div class="img-circular">
              <div class="content-add">ADD<br>NEW</div>
            </div>
          </a>
        </div>
      <div class="col-xs-6" ng-repeat="chronicle in readaccess">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular" hm-hold="edit(chronicle)"></div>
          <br>
        </a>
        <div class="content">{{chronicle.title}}<br>
          {{chronicle.user.name}}</div>
      </div>
    </div>
  </ul>
</div> 
</div>
