<div class="btn-group">
  <button type="button" class="btn btn-primary" ng-class="{active: istab(1)}" ng-click="settab(1)" >Mine</button>
  <button type="button" class="btn btn-primary" ng-class="{active: istab(2)}" ng-click="settab(2)" >Shared with me </button>
  <button type="button" class="btn btn-primary" ng-class="{active: istab(3)}" ng-click="settab(3)" >Public</button>
</div>
<div class="content-main"> My Chronicles </div>
<div class="container-fluid">
<div class="row-fluid">
  <div class="col-xs-6">
    <a ui-sref="^.newchronicle" style="text-decoration:none">
      <div class="img-circular">
        <div class="content-add">New<br>Chronicle</div>
      </div>
    </a>
  </div>
</div>
  <ul ng-show="owned.length && istab(1)" class="event-list">
    <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in owned" hm-hold="settings(chronicle)">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular"></div><br>
        </a>
        <div class="content">{{chronicle.title}}<br>
<!--           {{chronicle.user.name}}</div> -->
      </div>
    </div>
  </ul>
    <ul ng-show="editaccess.length && istab(2)" class="event-list">
      <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in editaccess">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular" hm-hold="settings(chronicle)"></div>
          <br>
        </a>
        <div class="content">{{chronicle.title}}<br> Edit: <small>{{chronicle.user.name}}</small></div> 
      </div>
    </div>
  </ul>
  <ul ng-show="readaccess.length && istab(2)" class="event-list">
      <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in readaccess">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
          <div class="img-circular" hm-hold="settings(chronicle)"></div>
          <br>
        </a>
        <div class="content">{{chronicle.title}}<br>
          Read: {{chronicle.user.name}}</div>
      </div>
    </div>
  </ul>
  <ul ng-show="publicchronicles.length && istab(3)" class="event-list">
    <div class="row-fluid">
      <div class="col-xs-6" ng-repeat="chronicle in publicchronicles">
        <a ui-sref="app.chronicle({chronicleId: chronicle._id})" style="text-decoration:none">
            <div class="img-circular" hm-hold="settings(chronicle)"></div>
            <br>
        </a>
        <div class="content">{{chronicle.title}}<br>
          {{chronicle.user.name}}</div>
      </div>
    </div>
  </ul>
</div> 
