<div class="container-fluid">
    <div class="text-center">
        <h1 class="control-label col-xs-10 col-xs-offset-2"> <font color=#33CCFF> Create an event! </font> </h1>
    </div>
    <form class="form-horizontal" role="form">
        <div>
            <div class="control-group">
                <label class="control-label col-xs-2" placeholder="Title">Title:</label>
                <div class="col-xs-10 left-inner-addon" >
                    <i class="fa fa-tags"></i>
                    <input id="text" class="form-control" ng-model="event.metadata.title" placeholder="Name your Event!" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label col-xs-2" placeholder="Who">Who:</label>
                <div class="col-xs-10 left-inner-addon">
                    <i class="fa fa-user"></i>
                    <input id="text" class="form-control" ng-model="event.metadata.names" placeholder="Who was present?">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label col-xs-2" placeholder="Where">Where:</label>
                <div class="col-xs-10 left-inner-addon">
                    <i class="fa fa-map-marker"></i>
                    <input id="text" class="form-control" ng-model="event.metadata.location" placeholder="Add a Location"typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations">

                </div>
            </div>



            <div class="control-group">
                <label class="control-label col-xs-2" placeholder="Date">Date:</label>
                <div class="col-xs-10 left-inner-addon">
                    <i class="fa fa-calendar"></i>
                    <input class="form-control" data-format="yyyy-mm-dd" type="date" ng-model="event.metadata.date">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label col-xs-2" placeholder="Time">Time:</label>
                <div class="col-xs-10 left-inner-addon">
                    <i class="fa fa-calendar"></i>
                    <input class="form-control" type="time" data-format="yyyy-mm-dd" ng-model="event.metadata.time">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label col-xs-2" placeholder="What">What:</label>
                <div class="col-xs-10 left-inner-addon">
                    <i class="fa fa-pencil-square-o"></i>
                    <input id="text" class="form-control" ng-model="event.metadata.description" placeholder="Add a Description">
                </div>
            </div>
            <br>
            <div class="control-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="left-inner-addon">
                        <i class="fa fa-cloud-upload"></i>
                        <input type="file" class="form-control" filereader="event.metadata.photo">
                    </div>
                    <button class="btn btn-primary form-control" ng-disabled="button || (!event.metadata.title)" ng-click="button=true; modify()">Submit</button>
                    <div class="spinner" ng-show="loading"> Please Wait...</div>

                </div>
            </div>
            <br>
        </div>
    </form>
</div>