<div>
  <div class="row">
  <ul>
    <a ui-sref=".edit" style="text-decoration:none">
    <div class="background" style="background-image: url({{event.metadata.photo}});">
      <br><br><br><br><br>
      <div class="metadata">
        <br>
        <div style="font-size:14pt; text-transform:uppercase">{{event.metadata.title}}</div>
        <div>{{event.metadata.names}}</div>
        <div>{{event.metadata.location}}</div>
        <div>{{event.metadata.time}}</div>
        <div>{{event.metadata.description}}</div>
        <br>
      </div>
      <br><br><br><br><br>
    </div>
    </a>
  </ul>
  </div>
  <div class="contentrow">
    <div class="evcontent" ng-repeat="content in event.content" id="event._id">
        <div class="text" ng-hide="content.format === 'image'" ng-hide="content.format === 'quote' ">
          <br><div>{{content.content}}</div>
        </div>
        <div class="quote" ng-show="content.format === 'quote'">
          <br><div>"{{content.content}}"</div>
        </div>
        <div class="photo" ng-show="content.format === 'image'">
          <br><img src="{{content.content}}" style="max-width:100%"/>
        </div>  
    </div>
    <br><button class="btn btn-primary" style="text-align:center" ng-click="open()">Add content!</button>
  </div>
</div>