<div class="col-lg-6 col-lg-offset-3">
  <ul>
    <div class="content" style={{event.color}}>
      <br> <div class="event-title">Title: {{event.metadata.title}}</div>
      <br> <div class="event-names">Who: {{event.metadata.names}}</div>
      <br> <div class="event-location">Where: {{event.metadata.location}}</div>
      <br> <div class="event-time">When: {{event.metadata.time}}</div>
      <br> <div class="event-description">What: {{event.metadata.description}}</div>
    </div>
    <div ng-repeat="content in event.content" class="content row" id="{{content._id}}">
        <div class="content" style={{event.color}} ng-hide="content.format === 'image'">
          <br> <div class="event-title">Format: {{content.format}}</div>
          <br> <div class="event-names" text-align="justify">Content: {{content.content}}</div>
          <br>
        </div>
        <div class="content" style={{event.color}} ng-show="content.format === 'image'">
          <br> <div class="event-title">Format: {{content.format}}</div>
          <br> <img src="{{content.content}}"/>
          <br>
        </div>  
    </div>
  </ul>
  <br>
  <button class="btn btn-primary" ng-click="open()">Add content!</button>