.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.metadata {
  position: relative;
  top: 50%;
  left:0;
  right:0;
  text-align: center;
  background-color: white;
  opacity: 0.4; 
}

.evcontent {
  position: relative;

  .text {
    text-align: left;
  }
  .quote {
    text-align: left;
    font-weight: bold;
  }
}

.contentrow {
  margin-top: 100%;
  text-align:center;
}